img {
    height: 200px;
    width: 200px;
}

.melon-div {
    display: inline-block;
    padding: 10px;
    width: 225px;
    outline-width: 1px;
    outline-color: #5d5e60;
    outline-style: solid;
    margin: 10px;
    text-align: center;
    background-color: white;
}

.melon_pic{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

div.header {
    background-color: #33684f;
    height: 100px;
    margin-top: 0;
    margin-bottom: 5px;
}

h1 {
    font-family: "Impact";
    font-size: 50px;
    color: white;
}

.get_name {
    font-family: "sans-serif";
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #b3f9bf;
}

img.hero_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 592px;
    height: 332px;
}

.num_loves{
    color: red;
}

#name {
    margin-left: 10px;
}

.warning {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: sans-serif;
    background-color: yellow;
}