<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
    <div class="header"><h1>&hearts; UberMelon's Most Loved Melons &hearts;</h1></div>

    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    {% block body %}
        BODY TEXT AND HTML WILL GO HERE
    {% endblock %}
</body>
</html>