{% extends 'base.html' %}
{% block title %}ONLY THE BEST OF ALL MELONS{% endblock %}
{% block body %}
<!-- Create a div for every Most Loved Melon using a Jinja for loop -->

<!-- Created this conditional prior to reaching Part 3; leaving it in since it 
    shouldn't affect anything -->
{% if 'name' in session: %}
    <div id='name'><p><h3>Welcome, {{ session['name'] }}!</h3></p></div>
{% endif %}

{% for melon in loved_melons %}
    <div class='melon-div'>
        {{ session['name'] }}, feast your eyes on:
        <h3>{{ loved_melons[melon]['name'] }}</h3>
        <img class='melon_pic' src= {{ loved_melons[melon]['img'] }} >
        <h2>Number of &hearts;s: <span class='num_loves'>{{ loved_melons[melon]['num_loves'] }}</span></h2>
    </div>
{% endfor %}

{% endblock %}